<form id='companyForm' class='x_formCreate' action="#" onsubmit="console.log('on submit..'); _on_submit(this); return false">

	<input type='text' name='name' placeholder='Name' tabindex='1' required value="Some company"/>
	<input type='text' name='address' class='address' placeholder='Address' tabindex='2'  required value="Gullmarsplan 9 121 40 Stockholm"/>
	<input type='hidden' name='latlng' value='59.33230529999999, 18.05283570' required/>
	
	<div class='x_formBtnSubmitWrapper'>
	   <input type='submit' class='x_formBtnSubmit' value='Send'/>
	</div>
	
</form>
    




